* { 
font-size: 1.1em; 
background: black; 
color: silver; 
margin: 0; 
padding: 0; 
} 
 
.menuBlock { 
margin-left: auto; 
margin-right: auto; 
} 
 
.menuBlock ul { 
list-style: none; 
} 
 
.menuBlock > ul > li { 
float: left; 
width: 10em; 
position: relative; 
} 
 
.menuBlock li a { 
display: block; 
background: grey; 
border: 0.1em solid #060A13; 
color: #060A13; 
padding: 8px; 
text-align: center; 
text-decoration: none; 
border-radius: 1.6em; 
transition: all 0.3s; 
} 

.menuBlock li a:hover { 
background: silver; 
} 
 
.stealthBlock { 
display: none; 
position: absolute; 
top: 100%; 
width: 8em; 
} 
 
.menuBlock li:hover .stealthBlock { 
display: block; 
} 
 
.stealthBlock { 
font-size: 0.8em; 
}
