* {
font-size: 1.1em;
background: black;
color: silver;
margin: 0;
padding: 0;
}

.menuBlock {
 height: 70px;
}

.menuBlock ul {
 list-style: none;
}

.menuBlock > ul > li {
 float: left;
 width: 180px;
 position: relative;
}

.menuBlock li a {
 display: block;
 background: #90DA93;
 border: 1px solid #060A13;
 color: #060A13;
 padding: 8px;
 text-align: center;
 text-decoration: none;
}
.menuBlock li a:hover {
 background: #2F718E;
}
